######################################################################
# Build Tools

.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

target/
!.mvn/wrapper/maven-wrapper.jar

######################################################################
# IDE

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### JRebel ###
rebel.xml

### NetBeans ###
nbproject/private/
build/*
nbbuild/
dist/
nbdist/
.nb-gradle/

######################################################################
# Others
*.log
*.xml.versionsBackup
*.swp
*.yml
!**/application.yml
!**/application-druid.yml
!**/application-dev.yml
!**/application-staging.yml
!**/application-prod.yml
!*/build/*.java
!*/build/*.html
!*/build/*.xml

# 历史规则仍忽略未纳入版本库的 manage 测试，仅开放本次小说回归测试。
lingXi-manage/src/test/**
!lingXi-manage/src/test/java/
!lingXi-manage/src/test/java/com/
!lingXi-manage/src/test/java/com/lingXi/
!lingXi-manage/src/test/java/com/lingXi/aiNovel/
!lingXi-manage/src/test/java/com/lingXi/aiNovel/service/
!lingXi-manage/src/test/java/com/lingXi/aiNovel/service/AiNovelChapterServiceImplTest.java
!lingXi-manage/src/test/java/com/lingXi/aiNovel/service/AiNovelContextSyncServiceImplTest.java
!lingXi-manage/src/test/java/com/lingXi/aiNovel/util/
!lingXi-manage/src/test/java/com/lingXi/aiNovel/util/NovelStorySummaryBuilderTest.java
!lingXi-manage/src/test/java/com/lingXi/aiNovel/util/NovelWordCounterTest.java
